body{
    background-color: rgb(75, 165, 255);
}

#main{
    font-family: 'Shag Lounge', sans-serif;
    text-align: center;
    border-radius: 15px;
    position: sticky;
    top: 10px;
    background-color: white;
    padding: 10px;
    width: 300px;
    animation-name: slide;
    animation-duration: 1s;
    text-shadow: 0px 5px 10px white;
}

#picture{
    animation-name: slide;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    animation-duration: 1.5s;
}

p{
    text-align: center;
    font-size: xx-large;
    animation-name: slide;
    animation-duration: 2s;
    font-family: 'Shag Lounge', sans-serif;
}

@keyframes slide{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
}